.header {
    background-color: #1f2937;
    display: flex;
}

.header p a {
    color: #f9faf8;
    text-decoration: none;
    padding-right: 50px;

}

.shrink {
    width: 80px;
    margin-right: auto;
    padding-left: 50px;
}

.clippy {
    width: 160px;
    align-self: flex-end;
    padding-top: 25px;
    padding-right: 50px;
}

.top-text {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    padding-left: 200px;
    height: 200px;
}

.small {
    width: 150px;
}

.body {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;


}

.body p {
    word-wrap: break-word;
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    word-wrap: break-word;
    flex-direction: column;
}

.quote h6 {
    align-self: end;
}