.header {
    background-color: #1f2937;
    display: flex;
}

.header p a {
    color: #f9faf8;
    text-decoration: none;
    padding-right: 200px;

}

.shrink {
    width: 80px;
    margin-right: auto;
    padding-left: 200px;
}

.clippy {
    width: 300px;
    align-self: flex-end;
    padding-top: 25px;
    padding-right: 200px;
}

.top-text {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    padding-left: 200px;
    height: 350px;
}

.small {
    width: 150px;
}

.body {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;


}

.body p {
    word-wrap: break-word;
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    word-wrap: break-word;
    flex-direction: column;
    align-items: center;
}

.quote h6 {
    align-self: end;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #3882F6;
    width: 50%;
    color: white;
    border-radius: 25px;

}

.container button {
    align-self: flex-end;
}

.foot {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}